<!DOCTYPE html>
<html lang="en">
<head>
    <title>Google Auth</title>
    <style>
        body {padding-top: 80px;}
        </style>
</head>
<body><center>
    <div class="container">
        <div class="jumbotron text-center">
            <h1><span class="fa fa-lock"></span>Interactive session with Sandeep Jain</h1>
            <p><h3> Hello Geeks!</h3>
                So, fasten your seatbelts for something exhilarating and gear up to experience an ingenious hearing
                from an insightful person. The opportunity is evanescent and the seats are delimited.</p>
                <p>
                    Time:2:00 p.m.-4:00 <br>
                    Date:21st June 2022 <br>
                    Venue:Main Seminar Hall,Admin Block <br>
                    Registeration fee:Rs 20
                </p>
            <p>Login or Register with:</p>

            <a href="/google" class="btn btn danger"><button class="btn btn-primary btn-lg">Register</button></a>
        </div>
    </div>
    </center>
</body>
</html>