<Html>
    <head> 
    <title>
    Registration Page
    </title>
    </head>
    <br>
    <br>
    <body>
    <form>
    
    <label> Name </label>
    <input type="text" name="name" size="15"/> <br> <br>
    
    <label> Branch </label>
    <input type="text" name="branch" size="15"/> <br> <br>
    
    <label> Year </label> 
    <input type="text" name="year" size="15"/> <br> <br>
    
    <label> Student Number </label>
    <input type="text" name="sNumber" size="15"/> <br> <br>
    
    <label> Roll Number </label>
    <input type="text" name="rNumber" size="15"/> <br> <br>
    
    <br> <br>
    Question
    <br>
    <textarea cols="80" rows="5" value="Question">

</textarea>
</body>
</form>
</Html>        